<data>
	<event>
		<event_id>event1</event_id>
		<event_date>2011-12-13</event_date>
		<event_parameters>
			<priority>1</priority>
			<log_level>INFO</log_level>
			<source>test-application</source>
		</event_parameters>
	</event>
	<event>
		<event_id>event2</event_id>
		<event_date>2014-10-13</event_date>
		<event_parameters>
			<priority>10</priority>
			<log_level>DEBUG</log_level>
			<source>test-application</source>
		</event_parameters>
	</event>
	<event>
		<event_id>event4</event_id>
		<event_date>2013-12-13</event_date>
		<event_parameters>
			<priority>1</priority>
			<log_level>INFO</log_level>
			<source>test-application</source>
		</event_parameters>
	</event>
	<event>
		<event_id>event5</event_id>
		<event_date>2019-12-13</event_date>
		<event_parameters>
			<priority>1</priority>
			<log_level>INFO</log_level>
			<source>test-application</source>
		</event_parameters>
	</event>
	<event>
		<event_id>event6</event_id>
		<event_date>2011-12-13</event_date>
		<event_parameters>
			<priority>1</priority>
			<log_level>INFO</log_level>
			<source>test-application</source>
		</event_parameters>
	</event>
</data>